html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

html {
  background-color: #fafafa;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  /*background-color: black;*/
  overflow: hidden;
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

header {
  margin: 20px 0;
  margin: 2rem 0;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}

.count-down {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 200px;
  font-size: 20rem;
  opacity: .6;
  -webkit-animation: flash linear 1s infinit;
          animation: flash linear 1s infinit;
  font-family: edituno;
}

@-webkit-keyframes flash {

  0% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {

  0% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

button:focus {
  outline: none;
}

.title-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;

  /*animation-name: players;
  animation-duration: 1s;
  animation-iteration-count: infinite;*/
}

.big-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poly-box {
  background: url(/assets/img/balloon-title.png) no-repeat right;
  height: 300px;
  height: 30rem;
  width: 600px;
  width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.poly-box .poly-word {
  margin-top: 170px;
  margin-top: 17rem;
}

.press-key {
  margin-top: 100px;
  margin-top: 10rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro-polyballoon, .startscreen, .game-over {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.how-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh
}

.how-title-box .invisible-box {
  width: 69px;
  width: 6.9rem;
  height: 69px;
  height: 6.9rem;
  visibility: hidden;
}

.question-button {
  background: url(/assets/svg/question-button.svg) no-repeat;
  height: 80px;
  height: 8rem;
  width: 78px;
  width: 7.8rem;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  bottom: 5rem;
  right: 30px;
  right: 3rem;
}

.question-button:hover {
  background: url(/assets/svg/question-push.svg) no-repeat;
  height: 80px;
  height: 8rem;
  width: 78px;
  width: 7.8rem;
  border: none;
}

.players-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* animation-name: players;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
}

.waiting {
  text-align: center;
  font-family: edituno, sans-serif;
  color: #21252b;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-top: 20px;
  margin-top: 2rem
}

.waiting img {
  width: 210px;
  width: 21rem;
}

.player-one, .player-two {
  /* background: url(../assets/svg/bg-players.svg) no-repeat; */
  background-color: #deefee;
  box-shadow:
    0 -20px 0 -10px #deefee,
    0 -40px 0 -20px #deefee,
    0 20px 0 -10px #deefee,
    0 40px 0 -20px #deefee,
    0 10px 0 0 #97c9c8,
    0 30px 0 -10px #97c9c8,
    0 50px 0 -20px #97c9c8,
    0 20px 0 0 #5b96b5,
    0 40px 0 -10px #5b96b5,
    0 60px 0 -20px #5b96b5;
  background-size: cover;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-top: .5rem;
  margin-top: 20px;
  margin-top: 2rem
}

.player-one img, .player-two img {
  -webkit-transform: scale(.9);
          transform: scale(.9);
}

.player-title {
  width: 70%;
}

@-webkit-keyframes players {

  0% {
    top: 1vw;
  }

  50% {
    top: 1.8vw;
  }

  100% {
    top: 1vw;
  }
}

@keyframes players {

  0% {
    top: 1vw;
  }

  50% {
    top: 1.8vw;
  }

  100% {
    top: 1vw;
  }
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.play-button {
  background: url(/assets/svg/play-button.svg) no-repeat;
  width: 157px;
  width: 15.7rem;
  height: 69px;
  height: 6.9rem;
  cursor: pointer;
  border: none;
}

.play-button:hover {
  background: url(/assets/svg/play-push.svg) no-repeat;
  width: 157px;
  width: 15.7rem;
  height: 69px;
  height: 6.9rem;
  cursor: pointer;
}

.text-box, .todo-text {
  font-family: edituno;
  color: black;
  width: 80%;
  font-size: 85%;
  text-align: center;
  line-height: 110%;
}

.player-image {
  width: 60%;
  margin-top: 10px;
  margin-top: 1rem;
}

.paperplane {
  width: 35%;
}

.todo-box {
  background-color: #c7e0de;
  box-shadow:
    0 15px 0 -7.5px #c7e0de,
    0 30px 0 -15px #c7e0de,
    0 -15px 0 -7.5px #c7e0de,
    0 -30px 0 -15px #c7e0de,
    0 -7.5px 0 0 #a8c6c3,
    0 -22px 0 -7.5px #a8c6c3,
    0 -37px 0 -15px #a8c6c3;
  width: 90%;
  margin-top: 30px;
  margin-top: 3rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.calibration-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 10px;
  padding-top: 1rem
}

.calibration-box .green-info {
  color: #3fb34f;
  font-family: edituno;
  font-size: 120%;
  padding-bottom: 5px;
  padding-bottom: .5rem;
  opacity: 0;
  transition: .3s;
}

.calibration-box .fade-in {
  opacity: 1;
}

.calibration-box .loading-bar {
  margin-top: 10px;
  margin-top: 1rem;
  background: url(/assets/svg/loading-bar.svg) no-repeat;
  width: 229px;
  width: 22.9rem;
  height: 39px;
  height: 3.9rem;
  z-index: 10;
}

.calibration-box .loading-fill {
  display: block;
  position: absolute;
  margin-top: 45px;
  margin-top: 4.5rem;
  margin-left: 40px;
  margin-left: 4rem;
  z-index: 0;
}

.calibration-button {
  background: url(/assets/svg/calibrate.svg) no-repeat;
  width: 266px;
  width: 26.6rem;
  height: 58px;
  height: 5.8rem;
  cursor: pointer;
  border: none;
}

.calibration-button:hover {
  background: url(/assets/svg/calibrate-push.svg) no-repeat;
  width: 266px;
  width: 26.6rem;
  height: 58px;
  height: 5.8rem;
  cursor: pointer;
}

.test-balloon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.test-balloon-box .test-balloon {
  display: block;
  height: 150px;
  height: 15rem;
}

.test-balloon-box .mini-balloon {
  margin-top: 85px;
  margin-top: 8.5rem;
}

.grey-info {
  color: #b2c9c7;
  font-family: edituno;
  font-size: 20px;
  font-size: 2rem;
}

.recalibration-button {
  background: url(/assets/svg/recalibrate.svg) no-repeat;
  width: 148px;
  width: 14.8rem;
  height: 32px;
  height: 3.2rem;
  cursor: pointer;
  border: none;
}

.recalibration-button:hover {
  background: url(/assets/svg/recalibrate-push.svg) no-repeat;
  width: 148px;
  width: 14.8rem;
  height: 32px;
  height: 3.2rem;
  cursor: pointer;
  border: none;
}

.ready-button {
  background: url(/assets/svg/ready-button.svg) no-repeat;
  width: 148px;
  width: 14.8rem;
  height: 32px;
  height: 3.2rem;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  margin-top: 1rem;
}

.ready-button:hover {
  background: url(/assets/svg/ready-button-hover.svg) no-repeat;
}

.qr-code-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap
}

.qr-code-box .purple-info {
  color: #704ca2;
  font-family: edituno;
  font-size: 23px;
  font-size: 2.3rem;
  padding: 10px;
  padding: 1rem;
  opacity: 0;
}

.qr-code-box .fade-in {
  opacity: 1;
}

.qr {
}

.qr img {
  width: 120px;
  width: 12rem;
  height: 120px;
  height: 12rem;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="80" intercept="-39.5" /><feFuncG type="linear" slope="80" intercept="-39.5" /><feFuncB type="linear" slope="80" intercept="-39.5" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: contrast(80);
          filter: contrast(80);
}

.interface {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  box-shadow: inset 25px 25px 0 #5a2618, inset -25px -25px 0 #5a2618;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame-pieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.frame-pieces .frame-left {
  background: url(/assets/svg/frame-left.svg) no-repeat;
  width: 70px;
  width: 7rem;
  height: 70px;
  height: 7rem;
}

.frame-pieces .frame-right {
  background: url(/assets/svg/frame-right.svg) no-repeat;
  width: 70px;
  width: 7rem;
  height: 70px;
  height: 7rem;
}

.interface-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.damage-box {
  background: url(/assets/svg/dmg-box.svg) no-repeat;
  width: 397px;
  width: 39.7rem;
  height: 100px;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 15px;
  bottom: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.damage-box h1 {
  font-family: edituno;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-size: 3.5rem;
  padding-left: 30px;
  padding-left: 3rem;
}

.damage-meter {
  background: url(/assets/svg/dmg-meter.svg) no-repeat;
  width: 240px;
  width: 24rem;
  height: 13px;
  height: 1.3rem
}

.damage-meter .damage-loader {
  background: url(/assets/svg/dmg-loader.svg) no-repeat;
  height: 13px;
  height: 1.3rem;
  width: 48px;
  width: 4.8rem;
}

.distance-box {
  background: url(/assets/svg/distance.svg) no-repeat;
  height: 87px;
  height: 8.7rem;
  width: 310px;
  width: 31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 5px;
  margin-top: .5rem;
  -webkit-transform: scale(.9);
          transform: scale(.9);
  position: relative;
  bottom: 5px;
  bottom: .5rem;
  right: 150px;
  right: 15rem

}

.distance-box h1 {
  margin-top: 20px;
  margin-top: 2rem;
  font-family: edituno;
  color: white;
  padding: 0 10px;
  padding: 0 1rem;
  font-size: 40px;
  font-size: 4rem;
}

.pause-box {
  background: url(/assets/svg/pause-box.svg) no-repeat;
  width: 90px;
  width: 9rem;
  height: 89px;
  height: 8.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}

.game-over .game-over-box {
  background: url(/assets/svg/game-over-box.svg) no-repeat;
  width: 778px;
  width: 77.8rem;
  height: 509px;
  height: 50.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.score-box {
  background: url(/assets/svg/score-box.svg) no-repeat;
  width: 635px;
  width: 63.5rem;
  height: 322px;
  height: 32.2rem;
}

.total-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh
}

.total-score h1 {
  font-family: edituno;
  color: black;
  font-size: 40px;
  font-size: 4rem;
}

.total-score h2 {
  font-family: edituno;
  color: #eb4056;
  font-size: 50px;
  font-size: 5rem;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.score strong {
  color: #f3c155;
  font-size: 60px;
  font-size: 6rem;
  font-family: edituno;
  padding: 0 30px;
  padding: 0 3rem;
}

.score-description {
  text-align: center;
  color: #91afac;
  font-size: 35px;
  font-size: 3.5rem;
  font-family: edituno;
  margin-top: 20px;
  margin-top: 2rem;
}

.buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 640px;
  width: 64rem;
  margin-top: 5vh
}

.buttons-box .back-button {
  background: url(/assets/svg/back-button.svg) no-repeat;
  width: 280px;
  width: 28rem;
  height: 60px;
  height: 6rem;
  border: none;
  cursor: pointer;
}

.buttons-box .back-button:hover {
  background: url(/assets/svg/back-button-hover.svg) no-repeat;
}

.buttons-box .try-button {
  background: url(/assets/svg/try-button.svg) no-repeat;
  width: 280px;
  width: 28rem;
  height: 60px;
  height: 6rem;
  border: none;
  cursor: pointer;
}

.buttons-box .try-button:hover {
  background: url(/assets/svg/try-button-hover.svg) no-repeat;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=style.css.map*/