html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

html {
  background-color: #fafafa;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 20px;
  margin: 2rem;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
  overflow: hidden;
}

header {
  margin: 20px 0;
  margin: 2rem 0;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}

.qr {
  position: absolute;
}

.count-down {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 200px;
  font-size: 20rem;
  opacity: .6;
  -webkit-animation: flash linear 1s infinit;
          animation: flash linear 1s infinit;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}

button:focus {
  outline: none;
}

.intro-polyballoon {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  max-height: 100%;
}

.how-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.how-title-box .invisible-box {
  width: 69px;
  width: 6.9rem;
  height: 69px;
  height: 6.9rem;
  visibility: hidden;
}

.question-button {
  background: url(/assets/svg/question-button.svg) no-repeat;
  height: 80px;
  height: 8rem;
  width: 78px;
  width: 7.8rem;
  border: none;
  cursor: pointer;
}

.question-button:hover {
  background: url(/assets/svg/question-push.svg) no-repeat;
  height: 80px;
  height: 8rem;
  width: 78px;
  width: 7.8rem;
  border: none;
}

.players-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* animation-name: players;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
}

.player-one, .player-two {
  /* background: url(../assets/svg/bg-players.svg) no-repeat; */
  background-color: #deefee;
  box-shadow:
    0 -20px 0 -10px #deefee,
    0 -40px 0 -20px #deefee,
    0 20px 0 -10px #deefee,
    0 40px 0 -20px #deefee,
    0 10px 0 0 #97c9c8,
    0 30px 0 -10px #97c9c8,
    0 50px 0 -20px #97c9c8,
    0 20px 0 0 #5b96b5,
    0 40px 0 -10px #5b96b5,
    0 60px 0 -20px #5b96b5;
  background-size: cover;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-top: 1rem
}

.player-one img, .player-two img {
  -webkit-transform: scale(.9);
          transform: scale(.9);
}

.player-title {
  width: 70%;
}

@-webkit-keyframes players {

  0% {
    top: 1vw;
  }

  50% {
    top: 1.8vw;
  }

  100% {
    top: 1vw;
  }
}

@keyframes players {

  0% {
    top: 1vw;
  }

  50% {
    top: 1.8vw;
  }

  100% {
    top: 1vw;
  }
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh
}

.play .play-button {
  background: url(/assets/svg/play-button.svg) no-repeat;
  width: 157px;
  width: 15.7rem;
  height: 69px;
  height: 6.9rem;
  cursor: pointer;
  border: none;
}

.play-button:hover {
  background: url(/assets/svg/play-push.svg) no-repeat;
  width: 157px;
  width: 15.7rem;
  height: 69px;
  height: 6.9rem;
}

.text-box, .todo-text {
  font-family: edituno;
  color: black;
  width: 80%;
  font-size: 85%;
  text-align: center;
  line-height: 110%;
}

.player-image {
  width: 60%;
  margin-top: 30px;
  margin-top: 3rem;
}

.paperplane {
  width: 35%;
}

.todo-box {
  background-color: #c7e0de;
  box-shadow:
    0 15px 0 -7.5px #c7e0de,
    0 30px 0 -15px #c7e0de,
    0 -15px 0 -7.5px #c7e0de,
    0 -30px 0 -15px #c7e0de,
    0 -7.5px 0 0 #a8c6c3,
    0 -22px 0 -7.5px #a8c6c3,
    0 -37px 0 -15px #a8c6c3;
  width: 90%;
  margin-top: 30px;
  margin-top: 3rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.calibration-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 10px;
  padding-top: 1rem
}

.calibration-box .green-info {
  color: #3fb34f;
  font-family: edituno;
  font-size: 120%;
  padding-bottom: 5px;
  padding-bottom: .5rem;
}

.calibration-box .loading-bar {
  margin-top: 10px;
  margin-top: 1rem;
  background: url(/assets/svg/loading-bar.svg) no-repeat;
  width: 229px;
  width: 22.9rem;
  height: 39px;
  height: 3.9rem;
}

.calibration-button {
  background: url(/assets/svg/calibrate.svg) no-repeat;
  width: 266px;
  width: 26.6rem;
  height: 58px;
  height: 5.8rem;
  cursor: pointer;
  border: none;
}

.calibration-button:hover {
  background: url(/assets/svg/calibrate-push.svg) no-repeat;
  width: 266px;
  width: 26.6rem;
  height: 58px;
  height: 5.8rem;
  cursor: pointer;
}

.white-loader {
  padding: 10px 0 0 5px;
  padding: 1rem 0 0 .5rem;
}

.test-balloon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.test-balloon-box .test-balloon {
  margin-top: 70px;
  margin-top: 7rem;
}

.grey-info {
  color: #b2c9c7;
  font-family: edituno;
  font-size: 20px;
  font-size: 2rem;
}

.recalibration-button {
  background: url(/assets/svg/recalibrate.svg) no-repeat;
  width: 148px;
  width: 14.8rem;
  height: 32px;
  height: 3.2rem;
  cursor: pointer;
  border: none;
}

.recalibration-button:hover {
  background: url(/assets/svg/recalibrate-push.svg) no-repeat;
  width: 148px;
  width: 14.8rem;
  height: 32px;
  height: 3.2rem;
  cursor: pointer;
  border: none;
}

.qr-code-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 30px;
  padding-top: 3rem
}

.qr-code-box .purple-info {
  color: #704ca2;
  font-family: edituno;
  font-size: 23px;
  font-size: 2.3rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=style.css.map*/