@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

.count-down {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20rem;
  opacity: .6;
  animation: flash linear 1s infinit;
  font-family: edituno;
}

@keyframes flash {

  0% {
    opacity: 1;
  }

  50% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

button:focus {
  outline: none;
}

.title-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80vh;

  /*animation-name: players;
  animation-duration: 1s;
  animation-iteration-count: infinite;*/
}

.big-title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.poly-box {
  background: url(../assets/img/balloon-title.png) no-repeat right;
  height: 30rem;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & .poly-word {
    margin-top: 17rem;
  }
}

.press-key {
  margin-top: 10rem;
  transform: scale(1.1);
}

.intro-polyballoon, .startscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.how-title-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;

  & .invisible-box {
    width: 6.9rem;
    height: 6.9rem;
    visibility: hidden;
  }
}

.question-button {
  background: url(../assets/svg/question-button.svg) no-repeat;
  height: 8rem;
  width: 7.8rem;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 5rem;
  right: 3rem;
}

.question-button:hover {
  background: url(../assets/svg/question-push.svg) no-repeat;
  height: 8rem;
  width: 7.8rem;
  border: none;
}

.players-section {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  /* animation-name: players;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
}

.player-one, .player-two {
  /* background: url(../assets/svg/bg-players.svg) no-repeat; */
  background-color: #deefee;
  box-shadow:
    0 -20px 0 -10px #deefee,
    0 -40px 0 -20px #deefee,
    0 20px 0 -10px #deefee,
    0 40px 0 -20px #deefee,
    0 10px 0 0 #97c9c8,
    0 30px 0 -10px #97c9c8,
    0 50px 0 -20px #97c9c8,
    0 20px 0 0 #5b96b5,
    0 40px 0 -10px #5b96b5,
    0 60px 0 -20px #5b96b5;
  background-size: cover;
  width: 30vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  align-items: center;
  padding-top: .5rem;
  margin-top: 2rem;

  & img {
    transform: scale(.9);
  }
}

.player-title {
  width: 70%;
}

@keyframes players {

  0% {
    top: 1vw;
  }

  50% {
    top: 1.8vw;
  }

  100% {
    top: 1vw;
  }
}

.play {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30vh;

  & .play-button {
    background: url(../assets/svg/play-button.svg) no-repeat;
    width: 15.7rem;
    height: 6.9rem;
    cursor: pointer;
    border: none;
  }
}

.play-button:hover {
  background: url(../assets/svg/play-push.svg) no-repeat;
  width: 15.7rem;
  height: 6.9rem;
}

.text-box, .todo-text {
  font-family: edituno;
  color: black;
  width: 80%;
  font-size: 85%;
  text-align: center;
  line-height: 110%;
}

.player-image {
  width: 60%;
  margin-top: 1rem;
}

.paperplane {
  width: 35%;
}

.todo-box {
  background-color: #c7e0de;
  box-shadow:
    0 15px 0 -7.5px #c7e0de,
    0 30px 0 -15px #c7e0de,
    0 -15px 0 -7.5px #c7e0de,
    0 -30px 0 -15px #c7e0de,
    0 -7.5px 0 0 #a8c6c3,
    0 -22px 0 -7.5px #a8c6c3,
    0 -37px 0 -15px #a8c6c3;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-flow: column nowrap;
}

.calibration-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding-top: 1rem;

  & .green-info {
    color: #3fb34f;
    font-family: edituno;
    font-size: 120%;
    padding-bottom: .5rem;
    opacity: 0;
    transition: .3s;
  }

  & .fade-in {
    opacity: 1;
  }

  & .loading-bar {
    margin-top: 1rem;
    background: url(../assets/svg/loading-bar.svg) no-repeat;
    width: 22.9rem;
    height: 3.9rem;
    z-index: 10;
  }

  & .loading-fill {
    display: block;
    position: absolute;
    margin-top: 4.5rem;
    margin-left: 4rem;
    z-index: 0;
  }
}

.calibration-button {
  background: url(../assets/svg/calibrate.svg) no-repeat;
  width: 26.6rem;
  height: 5.8rem;
  cursor: pointer;
  border: none;
}

.calibration-button:hover {
  background: url(../assets/svg/calibrate-push.svg) no-repeat;
  width: 26.6rem;
  height: 5.8rem;
  cursor: pointer;
}

.test-balloon-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  & .test-balloon {
    display: block;
    height: 15rem;
  }

  & .mini-balloon {
    margin-top: 8.5rem;
  }
}

.grey-info {
  color: #b2c9c7;
  font-family: edituno;
  font-size: 2rem;
}

.recalibration-button {
  background: url(../assets/svg/recalibrate.svg) no-repeat;
  width: 14.8rem;
  height: 3.2rem;
  cursor: pointer;
  border: none;
}

.recalibration-button:hover {
  background: url(../assets/svg/recalibrate-push.svg) no-repeat;
  width: 14.8rem;
  height: 3.2rem;
  cursor: pointer;
  border: none;
}

.qr-code-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  & .purple-info {
    color: #704ca2;
    font-family: edituno;
    font-size: 2.3rem;
    padding: 1rem;
    opacity: 0;
  }

  & .fade-in {
    opacity: 1;
  }
}

.qr {

  & img {
    width: 12rem;
    height: 12rem;
    /* filter: contrast(80); */
  }
}

.interface {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  box-shadow: inset 25px 25px 0 #5a2618, inset -25px -25px 0 #5a2618;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.frame-pieces {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  & .frame-left {
    background: url(../assets/svg/frame-left.svg) no-repeat;
    width: 7rem;
    height: 7rem;
  }

  & .frame-right {
    background: url(../assets/svg/frame-right.svg) no-repeat;
    width: 7rem;
    height: 7rem;
  }
}

.interface-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.damage-box {
  background: url(../assets/svg/dmg-box.svg) no-repeat;
  width: 39.7rem;
  height: 10rem;
  display: flex;
  position: relative;
  bottom: 1.5rem;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  & h1 {
    font-family: edituno;
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
    padding-left: 3rem;
  }
}

.damage-meter {
  background: url(../assets/svg/dmg-meter.svg) no-repeat;
  width: 24rem;
  height: 1.3rem;

  & .damage-loader {
    background: url(../assets/svg/dmg-loader.svg) no-repeat;
    height: 1.3rem;
    width: 4.8rem;
  }
}

.distance-box {
  background: url(../assets/svg/distance.svg) no-repeat;
  height: 8.7rem;
  width: 31rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: .5rem;
  transform: scale(.9);
  position: relative;
  bottom: .5rem;
  right: 15rem;

  & h1 {
    margin-top: 2rem;
    font-family: edituno;
    color: white;
    padding: 0 1rem;
    font-size: 4rem;
  }

}

.pause-box {
  background: url(../assets/svg/pause-box.svg) no-repeat;
  width: 9rem;
  height: 8.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  display: none;
}
