@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

.invisible {
  display: none;
}

.qr {
  position: absolute;
}

.count-down {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20rem;
  opacity: .6;
  animation: flash linear 1s infinit;
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
